<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Start a new project</h3>
      <p>This is exciting, can't wait to see what you create!</p>
    </div>


    <h2><%= link_to @team.project.title, project_path(@project, @team) %></h2>
    <h2><%= @team.title %></h2>
    <p><%= @team.description %></p>
    <% @users.each do |user| %>
    <p><%= user.user_name %></p>
    <% end %>
    <form method="get" action= "/projects/<%= @project.id %>/teams/<%= @team.id %>/join_team">
      <input type="hidden" name="id" value="<%= @team.id %>" >
      <input type="hidden" name="project_id" value="<%= @project.id %>">
      <input type="submit" value="Join Team" class="button" >
    </form>


    <%= render "budgets/index" %>

    <%= link_to "Edit", edit_project_team_path(@project, @team) %>
    <%= link_to "Delete", project_team_path(@project, @team), method: :delete %>
  </div>
</div>
