<h2><%= link_to @team.project.title, project_path(@project, @team) %></h2>
<h2><%= @team.title %></h2>
<p><%= @team.description %></p>
<% @users.each do |user| %>
  <p><%= user.user_name %></p>
<% end %>
<form method="get" action= "/projects/<%= @project.id %>/teams/<%= @team.id %>/join_team">
  <input type="hidden" name="id" value="<%= @team.id %>" >
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <input type="submit" value="Join Team" class="button" >
</form>
<%= button_to "Leave Team", project_team_leave_team_path(@project, @team), method: :delete, class: 'btn-danger btn-block', data: { confirm: "Are you sure?" } %>

<%= render "budgets/index" %>

<%= link_to "Edit", edit_project_team_path(@project, @team) %>
