<div class="page-container">
  <div class="page-wrapper">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              <%= image_tag @project.image.url(:circle), :class => "img-responsive img-circle profile-image" %>
            </div>
          </div>
          <div class="col-md-8">
            <h2><%= link_to @team.project.title, project_path(@project, @team) %></h2>
            <h2><%= @team.title %></h2>
            <p><%= @team.description %></p>
            <% if @receiptstotal > 0 %>
            <p><b>Money left to spend:</b> <%= (@budget.sum(@budgets) - @receiptstotal).round(0) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#todo">Action Points</a></li>
          <li><a href="#receipts">Receipts</a></li>
          <li><a href="#budget">Budget</a></li>
          <li><a href="#team">Team</a></li>
        </ul>

        <div class="tab-content">
          <div id="todo" class="tab-pane fade in active">
            <%= render "todos/index" %>
          </div>

          <div id="receipts" class="tab-pane fade ">
            <% if @receipts.size > 0 %>
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Receipts</h3></div>
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>User</th>
                      <th>Paid out?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @receipts.each do |r| %>
                    <% team = Team.find(r.team) %>
                    <% owner = User.find(r.binder.user).user_name %>
                    <tr>
                      <td><%= r.name %></td>
                      <td><%= r.date %></td>
                      <td><%= r.amount %></td>
                      <td><%= link_to owner, profile_path(owner) %></td>
                      <td><%= r.paid? ? "Paid #{r.paiddate.strftime("%F")}" : "No" %></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>Total: <%= @receiptstotal %></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <% else %>
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Receipts</h3></div>
              <div class="panel-body">
                <p>No receipts assigned to team.</p>
              </div>
            </div>
            <% end %>
          </div>

          <div id="budget" class="tab-pane fade ">
            <%= render "budgets/index" %>
          </div>

          <div id="team" class="tab-pane fade ">

            <h3>Team Members</h3>
            <% @users.each do |user| %>
            <p><%= link_to user.user_name, profile_path(user.user_name) %></p>
            <% end %>

            <% if !@team.users.include?(current_user) %>
            <form method="get" action= "/projects/<%= @project.id %>/teams/<%= @team.id %>/join_team">
              <input type="hidden" name="id" value="<%= @team.id %>" >
              <input type="hidden" name="project_id" value="<%= @project.id %>">
              <input type="submit" value="Join Team" id="Join Team" class="btn-success btn-block" >
            </form>
            <% else %>
            <%= button_to "Leave Team", project_team_leave_team_path(@project, @team), method: :delete, class: 'btn-success btn-block', data: { confirm: "Are you sure?" } %>
            <%= button_to "Edit Team", edit_project_team_path(@project, @team), method: :get, class: 'btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <script>
    $(document).on('ready page:load', function () {
      $(".nav-tabs a").click(function(){
        $(this).tab('show');
      });
    });
    </script>
