<div class="page-container">
  <div class="page-wrapper">


    <div class="panel panel-default">
      <div class="panel-body">
        <div class="jumbotron" id="index-jumbo">
          <h3>Focus areas / skills</h3>
          <p>If you register some skills here, people in projects you are on will be able to use them to your shared advantage.</p>
        </div>
        <%= render "skills/index" %>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <div class="jumbotron" id="index-jumbo">
          <h3>Profile</h3>
        </div>

        <%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-4">
            <center>   <h4>Profile Picture:</h4> </center>
            <div class="form-group text-center">
              <div class="img-circle">
                <%= profile_avatar_select(@user) %>
              </div>

              <%= f.file_field :avatar, onChange: 'loadFile(event)' %>

            </div>
          </div>


          <div class="col-md-8">
            <div class="form-group text-center">
              <h4>Update your bio:</h4>
              <%= f.text_area :bio, label: false, rows: 8, cols: 50; %>
            </div>
          </div>
        </div>

        <div class="jumbotron" id="index-jumbo">
          <h3>Financial reimbursements</h3>
        </div>
        <div class="form-group">
          <h4>Bank IBAN</h4>
          <%= f.text_field :iban %>
          <br/>
          <br/>
          <h4>Bank Swift code</h4>
          <%= f.text_field :swift %>
          <br/>
          <br/>
          <h4>Swish</h4>
          <%= f.text_field :swish  %>
          <br/>
          <br/>
          <h4>Paypal email adress</h4>
          <%= f.text_field :paypal %>
          <br/>
          <br/>
          <h4>Payment method of choice*</h4>
          <%= f.select :choice, [ 'Paypal', 'Swish', 'Bank Transfer'], :prompt => 'Select One' %>
          <br/>
          <br/>
          <p>*This is important if you want to request payments based on receipts. This information is not available in any general views, it only gets used when formating a .csv document that handles masspayments for Paypal and manual tracking for other options.</p>
          <br/>
        </div>
        <div class="jumbotron" id="index-jumbo">
          <h3>Contact Information</h3>
        </div>

        <div class="form-group">
          <h4>Phone</h4>
          <%= f.text_field :phone_number %>
        </div>
        <div class="form-group">
          <h4>Skype</h4>
          <%= f.text_field :skype %>
        </div>
        <div class="form-group">
          <h4>City</h4>
          <%= f.text_field :city %>
        </div>
        <div class="form-group">
          <h4>Country</h4>
          <%= f.text_field :country %>
        </div>



        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <%= f.submit "Update Profile", class: 'btn btn-success', id:'profile-edit-button' %>
            </div>
            <% end %>
            <p><%= link_to "Edit password and username", edit_user_registration_path, class: 'btn btn-success', id: "fullbutton" %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
