<%= form_for @inventory, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <div class="input-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :required true %>
    </div>
  </div>
  <div class="input-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field', :id => 'description' %>
    </div>
  </div>

  <div class="input-group">
    <%= f.label "Add Items", :class => 'control-label' %>
    <div class="controls">

    </br>
 <%= file_field_tag "images[]", type: :file, multiple: true %>
 </br>

      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                inventories_path, :class => 'btn btn-mini' %>
                </br>
  </div>
<% end %>
