<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3><%= @tag + " in " + @inventory.name %></h3>
      <p><%= @inventory.description %></p>
      <p><%= link_to ">> Back to inventory", inventory_path(@inventory) %></p>
    </div>

    <% unless @items.empty? %>
    <% @items.each do |pic| %>

    <div class="panel panel-default">
      <div class="panel-heading"><b><%= pic.title %></b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag pic.image.url(:medium) %>
          </div>
          <div class="col-md-6">

            <% unless pic.owner == [] %>
            <P><b>Owner(s)</b>:
              <% pic.owner.each do |owner| %>
              <%= link_to owner.user_name, profile_path(owner.user_name) %>
              <% end %>
            </P>
            <% end %>

            <% @item = pic %>
            <%= render 'items/form' %>
            <hr>

            <%= render 'items/claim_borrow' %>

          </div>
        </div>
      </div>
      <div class="panel-footer">
        &nbsp
      </div>
    </div>

    <% end %>
    <% end %>

  </div>
</div>
