<div class="page-container">
  <div class="page-wrapper">
    <% if !@items.empty? %>
    <div class="jumbotron" id="index-jumbo">
      <h3>Cycle through items in <%= @inventory.name %></h3>
      <p>Awesomeness! Thanks for tagging</p>
      <P><%= link_to ">> Back to inventory", inventory_path(@inventory)%></p>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>What is this?</h3></div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading"><b><%= @item.title %></b></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag @item.image.url(:medium) %>
              </div>
              <div class="col-md-6">
                <div>
                  <div class="floatright">
                    <div class="form-actions">
                      <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,  inventory_item_path(@inventory, @item), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %>
                    </div>
                  </div>
                </div>
                <div class ="row">
                </br>
                <%= render 'items/form' %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          &nbsp
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="jumbotron" id="index-jumbo">
    <h3>Muchos Gracias!</h3>
    <p>No more untagged items in <%= @inventory.name %>!</p>
    <P><%= link_to ">> Back to inventory", inventory_path(@inventory)%></p>

  </div>
    <% end %>
  </div>
</div>
