 <li id="<%= budget.id %>">
  <%= budget.budget_item %>
  <%= budget.quantity %>
  <%= budget.cost_per_item %>
  Total cost: <%= budget.quantity * budget.cost_per_item %>
  <%= link_to "delete budget item", project_team_budget_path(@project, @team, budget), method: 'delete', remote: true %>
</li>
