 <li id="<%= budget.id %>">
  <%= budget.budget_item %>
  <%= budget.quantity %>
  <%= budget.cost_per_item %>
  <%= link_to "delete budget item", budget_path(budget), method: 'delete', remote: true %>
</li>
