<h1>My Estimated Budget </h1>
<% if @budgets.any? %>
<h3>Total Budget: <b id="budget_total"><%=@budget.sum(@budgets) %></b></h3>
<% else %>
<h3>Total Budget: <b id="budget_total">0.0</b></h3>
<% end %>

<%= form_for [@project, @team, @budget], remote: true do |f| %>

  <div class="form-group">
    <%= f.label :budget_item %>
    <%= f.text_field :budget_item, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :cost_per_item %>
    <%= f.number_field :cost_per_item, required: true, step: "any" %>
  </div>

  <div class="form-group" id="add_item">
  <%= f.submit "Create Budget Item"%>
  </div>
<% end %>

<ul class="budget_items">
  <%= render @budgets %>
</ul>
