<h1>My Estimated Budget</h1>

<%= form_for Budget.new, remote: true do |f| %>

  <div class="form-group">
    Budget item<%= f.text_field :budget_item %>
  </div>

  <div class="form-group">
    quantity<%= f.text_field :quantity %>
  </div>

  <div class="form-group">
    cost per item<%= f.text_field :cost_per_item %>
  </div>

  <div class="form-group">
  <%= f.submit %>
  </div>
<% end %>

<ul class="budget_items">
  <%= render @budgets %>
</ul>