<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <P><%= link_to ">> Back to binder", binder_path(@binder)%></p>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><h3>Basic Information</h3></div>
    <div class="panel-body">
        <div class="pull-right">
          <% if current_user == @owner %>
          <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, binder_path(@binder), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %>
          <% end %>
        </div>
        <%= render 'form' %>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading"><h3>All Items in Storage</h3></div>
    <div class="panel-body">
      <% unless @receipts.empty? %>
          <% @receipts.each do |pic| %>

          <div class="panel panel-default">
            <div class="panel-heading"><b><%= pic.booked %></b></div>
            <div class="panel-body">
            <div class="row">
             <div class="col-md-6">
              <%= image_tag pic.image.url(:medium) %>
            </div>
            <div class="col-md-6">
              <div>
              <div class="floatright">
                <div class="form-actions">
                  <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,  binder_receipt_path(@binder, pic), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %>
                </div>
              </div>
              </div>
              <div class ="row">
              </br>

                <% @receipt = pic %>
                <%= render 'receipts/cycleform' %>

              </div>
            </div>
            </div>
            </div>
            <div class="panel-footer">
              &nbsp
            </div>
          </div>


          <% end %>
          <% end %>

    </div>


  </div>
</div>
