<table class="table table-striped" >
  <tbody id="skilllist">
    <%= render @skills %>
  </tbody>
</table>

<div class="table table-striped">
  <tbody>
    <tr>
    <%= form_for [@user, @skill], remote:true do |f| %>

    <td><%= f.text_field :skill, placeholder: "Skill" %></td>
    <td><%= f.select :skilllevel, ['Beginner', 'Intermediate', 'Advanced'], id: "skilllevel" %></td>
    <td><%= f.text_field :description, placeholder: "Describe" %></td>
    <td><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-plus-sign", id: "Create Skill" %></td>
    <% end %>
    </tr>
  </tbody>
</div>
