 <li id="<%= skill.id %>">
  <%= skill.skill %>
  <%= skill.skilllevel %>
  <%= skill.description %>
  <%= link_to "Delete skill", user_skill_path(@user, skill), method: 'delete', remote: true %>
</li>
