<h1>My Skills</h1>

<%= form_for Skill.new do |f| %>
  <div class="form-group">
    <%= f.text_field :skill, placeholder:
    "What are you good at?" %>
  </div>

  <div class="form-group">
    <%= f.select :skilllevel, ['Beginner', 'Intermediate', 'Advanced'] %>
  </div>

  <div class="form-group">
    <%= f.text_field :description, placeholder:
    "Short description of your skill" %>
  </div>

  <div class="form-group">
  <%= f.submit %>
  </div>
<% end %>

<ul class="skilllist">
  <%= render @skills %>
</ul>
