<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Edit <%= @project.title %></h3>
      <p></p>
    </div>

    <div class="image-wrap">
      <%= simple_form_for @project, html: { multipart: true } do |f| %>
      <h3>Project title</h3>
      <div class="form-group-project text-center">
        <%= f.input :title,  label: false, placeholder: 'What is it called?', id:'Title' %>
      </div>

      <h3>Image</h3>
        <center>
          <div class="form-group">
            <%= f.input :image %>
          </div>
        </center>
      <h3>Description</h3>
      <div class="form-group-project text-center">
        <%= f.input :description, label: false, placeholder: 'Describe this awesomness' %>
      </div>
      <h3>Target budget</h3>
      <div class="form-group ">
        <%= f.input :total_budget, label: false, placeholder: '0' %>
      </div>
      <h3>Address</h3>
      <div class="form-group-project text-center">
        <%= f.input :address, required: true, label: false, placeholder: 'Street Name, City, Country' %>
      </div>
      <h3>Associated inventories</h3>
      <div class="form-group ">
        <%= f.association :inventories, as: :check_boxes %>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <%= f.error_notification %>
        </div>
      </div>

        <div class="form-group text-center">
          <%= f.button :submit, class: 'btn-success btn-block' %>
        </div>

        <% end %>
        <div class="form-group text-center">
          <%= button_to "Delete", project_path(@project), method: :delete, class: 'btn-danger btn-block', data: { confirm: "Are you sure?" } %>
        </div>
    </div>
  </div>
