<div class="page-container">
  <div class="page-wrapper">


    <% if current_user.projects.size == 0 %>
    <div class="jumbotron" id="index-jumbo">
      <h3> <%= current_user.user_name %>'s projects</h3>
      <p>You have not yet joined or added any projects. Click on the flag in the nav bar to get started!</p>
    </div>
    <% else %>
    <div class="jumbotron" id="index-jumbo">
      <h3><%= current_user.user_name %></h3>
      <p>This is an overview of your commitments.</p>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Projects</h3>
        <% @my_projects.each do |project| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3><%= link_to "<span class='glyphicon glyphicon-flag'></span>".html_safe + " " + project.title, project_path(project) %> <%= link_to "<span class='glyphicon glyphicon-edit floatright'></span>".html_safe, edit_project_path(project), :id => 'edit'%></h3>
            <% toggle = 0 %>
            <% project.teams.each do |team| %>
            <% if team.users.include? current_user %>
            <% if toggle == 0 %>
            <br/>
            <h4>Teams:</h4>
            <% end %>
            <div class="panel panel-default">
              <div class="panel-body">
                <h4<%= link_to "<span class='glyphicon glyphicon-user'></span>".html_safe + " " + team.title, project_path(Project.find(team.project_id)) %> - <%= team.description %></h4>
              </div>
            </div>
            <% toggle = 1 %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

    <% unless @commitments = [] %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Commitments</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Commitment</th>
              <th>Project / Team</th>
            </tr>
          </thead>
          <tbody>
            <%= @commitements %>
            <% @commitments.each do |commit| %>
            <% if commit.completed == false %>
            <tr>
              <td><%= commit.description %></td>
              <% team = Team.find(commit.team_id) %>
              <% project = Project.find(team.project.id) %>
              <td><%= link_to project.title, project_path(project.id) %> - <%= link_to team.title, project_team_path(project.id, team.id) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Commitment History</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Commitment</th>
              <th>Project / Team</th>
            </tr>
          </thead>
          <tbody>
            <%= @commitements %>
            <% @commitments.each do |commit| %>
            <% if commit.completed == true %>
            <tr>
              <td><span class="completed-todo"><%= commit.description %></span></td>
              <% team = Team.find(commit.team_id) %>
              <% project = Project.find(team.project.id) %>
              <td><span class="completed-todo"><%= link_to project.title, project_path(project.id) %> - <%= link_to team.title, project_team_path(project.id, team.id) %></span></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <% end %>

  </div>
</div>
