<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Start a new project</h3>
      <p>This is exciting, can't wait to see what you create!</p>
    </div>

      <div class="image-wrap">
        <%= simple_form_for @project, html: { multipart: true, :autocomplete => "on" } do |f| %>
        <h3>1. What is this glory called?</h3>
        <div class="form-group-project text-center">
          <%= f.text_field :title, required: true, label: false, placeholder: 'What is it called?' %>
        </div>
        <h3>2. Tell us more!</h3>
        <div class="form-group-project text-center">
          <%= f.text_field :description, required: true, label: false, placeholder: 'Describe this awesomness' %>
        </div>
        <h3>3. Do you have a vauge sense of the budget yet?</h3>
        <div class="form-group ">
          <%= f.text_field :total_budget, required: true, label: false, placeholder: '0' %>
        </div>
        <h3>4. Where will your project be based?</h3>
        <div class="form-group-project text-center">
          <%= f.input :address, required: true, label: false, placeholder: 'Street Name, City, Country' %>
        </div><br><br>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.error_notification %>
          </div>
        </div>
        <div class="container-fluid">
          <%= image_tag 'placeholder.jpg', id: 'image-preview', class: 'img-responsive' %>

          <center>
            <div class="form-group">
            <%= f.input :image %>
          </div>
        </center>

          <div class="form-group text-center">
            <%= f.button :submit, class: 'btn-success btn-block' %>
          </div>
          <% end %>
        </div>
      </div>
  </div>
