

<h2>
 <%= @project.title %>
</h2>
<h3>
 <%= image_tag @project.image.url(:thumb) %>
</h3>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<p>
 <%= @project.description %>
</p>
<p>
 <%= @project.total_budget %>
</p>
<% @project.teams.each do |team| %>
  <p> <%= link_to team.title, project_team_path(@project, team) %> </p>
  <p> <%= team.description %> </p>
<% end %>
<%= link_to "Create a Team", new_project_team_path(@project) %>
<div id="container" style="width:100%; height:400px;"></div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Project budget breakdown between teams'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Team Budgets',
            colorByPoint: true,
            data: [   <% @project.teams.each do |team| %> {
                name: "<%=team.title%>",
                y:10
            }, <%end%>
            ]
        }]
    });
});
</script>
