<%= simple_form_for [@inventory, @item] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.awesomplete_field(:tags, collection: @tags) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
