<%= simple_form_for [@inventory, @item] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.label :tag_list, 'Tags (separated with comas)' %>
    <%= f.input :tag_list, as: :string, input_html: { class: 'taggable', :'data-tags' => Item.tag_counts.map{ |tag| tag.name }.to_json } %>
      </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
