<!DOCTYPE html>
<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <title>Do/ocracy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
<<<<<<< HEAD
  <meta name="viewport" content="width=device-width, initial-scale=1">
=======

>>>>>>> 55-inventory
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="navbar-container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <%= link_to_image("doocracy.png", root_path, { class: "logo"}) %>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><%= link_to "<span class='glyphicon glyphicon-flag'></span>".html_safe, new_project_path, :title => "Create a new project", :id => 'create-a-new-project' %> </li>
          <li><%= link_to "<span class='glyphicon glyphicon-home'></span>".html_safe, my_projects_path, :title => "My projects", :id => 'my-projects'  %> </li>
          <li><%= link_to "<span class='glyphicon glyphicon-user'></span>".html_safe, profile_path(current_user.user_name), :title => "My profile", :id => 'my-profile'  %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li id='facebook'><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
    <% end %>
  </div>

  <%= yield %>
<<<<<<< HEAD
  <div align="center">
  <%= render 'layouts/footer' %>
  </div>
=======




>>>>>>> 55-inventory
</body>
</html>
